# ==========================================================
# LunaDB - Environment Configuration (Disk-First Architecture)
# ==========================================================

# --- Server Configuration ---
# The host and port the server will listen on.
LUNADB_PORT=":5876"

# Number of concurrent workers to handle TCP connections.
LUNADB_WORKER_POOL_SIZE=100

# --- Default Users ---
# Root password on start up (Full access)
LUNADB_ROOT_PASSWORD=rootpass

# Admin password on start up (Specific access)
LUNADB_ADMIN_PASSWORD=adminpass

# --- Advanced Tuning ---
# Timeout for graceful shutdown of the server.
LUNADB_SHUTDOWN_TIMEOUT="10s"

# Logical sharding for in-memory structures (like B-Trees).
LUNADB_NUM_SHARDS=16

# Start restore file after backup.
LUNADB_RESTORE_FILE=""